*{
   margin:0;
    padding:0;
}

html {
  scroll-behavior: smooth;
}

body{
    background-image: url(Retangulo%203.jpg);;
    width: 100%;
}

body p{
     font-family: quicksand, sans-serif;
     font-style: medium;
     font-weight: bold;
     line-height: 25px;
}

header{
    background-color: #100b28;
    width:100%;
    padding-top:10px;
    padding-bottom: 10px;
    align-items:center; 
}

nav {
    font-family: urbane-rounded, sans-serif;
    font-style: normal;
    font-weight: bolder;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
     padding-left: 5%;
    padding-right: 5%;
    width: 1200px;
}

.menu {
    display: flex;
    align-items: baseline

}

.logosite{
   text-align: left;
}

li{
    margin-right: 50px;
    text-transform: uppercase;
}

li a:hover{
     border-bottom: solid 4px;
     border-bottom-color: orange;
     border-bottom-left-radius: 1.5px;
     border-bottom-right-radius: 1.5px;
}

a{
    text-decoration: none;
    list-style: none;
    color: #a5a5a5;
    
}

nav a:hover{
    color: white;
    font-weight:bold;
    
}

ul{
   display: flex;
   list-style: none;
   justify-content: space-between;
   text-align: center;
   align-items: baseline;
   margin: auto;
}

/*game*/




footer{
    width: 100%;
    background: #100b28;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

footer h3{
    font-family: uquicksand, sans-serif;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
    text-decoration: underline;
    text-transform: uppercase;

}

footer p{
    font-family: uquicksand, sans-serif;
    font-weight: 500;
    color: aliceblue;
    text-align: center;
    font-size: 16px
}


.socialmidiaf{
    text-align-last: center;
    margin-bottom: 25px; 
}

.socialmidiaf a{
    padding: 5px;
    align-items: center;
}

/*Fontes*/

h2{
    font-family: urbane-rounded, sans-serif;
    font-style: normal;
    font-weight: bolder;
    text-transform: uppercase;
    color: #6a1dff;
    
}

h3{
    font-family: urbane-rounded, sans-serif;
    font-style: normal;
    font-weight: bold;
}

h4{
    font-family: uquicksand, sans-serif;
    font-style: normal;
    font-weight: bold;
    }


p{
    font-family: quicksand, sans-serif;
    font-style: medium;
    font-weight: 600;
}


.socialmenu {
    margin-left: auto;
}

.socialmenu a {
    padding: 1.5px;
}


.sobreT{
    padding-bottom: 35px;
}



.menu {
    width: 700px;
}

body {
    display: grid;
    justify-items: center;
}

.conteudo {
    margin-top: 50px;
    width: 100%;
}

.sobre-div, .game-div {
    max-width: 1280px;
}

#sobre {
    display: flex;
}

.sobre {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url(../Estilo/BackgroundSobre.png);
    background-size: cover;
    padding-bottom: 70px;
}

.texto .texto-desc {
    margin-top: 20px;
    margin-bottom: 60px;
}

.game {
    display: grid;
    justify-items: center;
    background: url(../Estilo/BackgroundGame.png);
    background-size: cover;
    background-position-x: center;
}


.game-div {
    display: grid;
    justify-items: center;
}

#hud {
    margin-left: -35px;
    justify-self: left;
}

#hud-name{
    padding-top: 30px;
    overflow: hidden;
	transform: translatey(0px);
	animation: float 2s ease-in-out infinite;
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}

}

.personagem {
    display: flex;
    justify-items: center;
}

.personagem div {
    display: grid;
    justify-items: center;
}

.score {
    width: 250px;
    height: auto;
    margin-top: 150px;
}

.botao-topo {
    margin: auto 20px 20px auto;
    height: 60px;
    
}